<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/all.css">
    <link rel="stylesheet" href="../assets/css/main.css">

    <title>Title</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="close">
                <i class="fas fa-times"></i>
            </div>
            
            <h2>side bar</h2>
            <ul>
                <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="#"><i class="fas fa-address-card"></i> Create ID</a></li>
                <li><a href="#"><i class="fas fa-user"></i> About</a></li>
                <li><a href="#"><i class="fas fa-blog"></i> Blogs</a></li>
                <li><a href="#"><i class="fas fa-phone-volume"></i> Contact</a></li>
                <li><a href="#"><i class="fas fa-question-circle"></i> Help</a></li>
                <li><a href="#"><i class="fas fa-sign-out-alt"></i> Sign Out</a></li>
            </ul>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="main-content">
            <div class="header">
                <h2>Welcome!! to this side</h2>
                <div class="navbar-toggler hide">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div class="info">
                <div class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Cum, perspiciatis?
                </div>
            </div>
        </div>
    </div>

    
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    <script src="../assets/js/main.js"></script>
</body>
</html>